/*
  site için renk
  #003f5c lacivert
  #58508d koyu mor
  #8a508f mor
  #bc5090 açık mor
  #de5a79 ara renk
  #ff6361 açık kırmızı
  #ff8531 turuncu
  #ffa600 koyu sarı 
*/

:root{
    --beyaz: #ffffff;
    --kahve:#7B4019;
    --turuncu:#FF7D29;
    --yavruagzi:#FFBF78;
    --sari:#FFEEA9;
    --sayfa_rengi:#ECE9E9;

}

/*text color*/

.text-primary{
    color: var(--beyaz);
}
.text-secondary{
    color: var(--kahve);
}
.text-tertiary{
    color: var(--yavruagzi);
}
.text-quaternary{
    color: var(--sari);
}
.text-quinary{
    color: var(--sayfa_rengi);
}
.text-turuncu{
    color:var(--turuncu)
}
/* background color */
.bg-primary{
    background-color: var(--beyaz);
}
.bg-secondary{
    background-color: var(--kahve);
}
.bg-tertiary{
    background-color: var(--yavruagzi);
}
.bg-quaternary{
    background-color: var(--sari);
}
.bg-quinary{
    background-color: var(--sayfa_rengi);
}
.bg-turuncu{
    background-color: var(--turuncu);
}
/*buton*/
.btn{
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

.btn:hover{
    opacity: 0.8;
}

.btn-primary{
    background-color: var(--turuncu);
    color: var(--white);
}

.btn-secondary{
    background-color: var(--kahve);
    color: var(--white);
}

.btn-success{
    background-color: var(--sari);
    color: var(--white);
}

.btn-outline{
    background-color: transparent;
    color: var(--kahve);
    border: 1px solid var(--kahve);
}

.btn-outline:hover{
    background-color: var(--kahve);
    color: var(--white);
    border: 1px solid var(--beyaz);
    
}

/*flex items*/

.flex-items{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.flex-items >div{
    padding: 20px;
    flex-basis:100%;
}

/*icons*/

.icons{
    padding:30px;
}

.icons h3{
    font-weight: 400;
    margin-bottom: 15px;
}

.icons i{
    background-color: var(--lacivert);
    color: var(--white);
    padding: 1rem;
    border-radius: 50%;
    margin-bottom:1.5rem;
}

/*flex columns*/
.flex-columns.flex-reverse .row{
    flex-direction: row-reverse;
}
.flex-columns .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns .column{
    flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2{
    height: 100%;
}

.flex-columns .column-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem;
}

.flex-columns img{
    height: 100%;
    width: 100%;
}
/*flex grid*/

.flex-grid .row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 .4rem;
}

.flex-grid .column{
    flex: 25%;
    padding: 0 .4rem;
}

/*section*/
.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
}

.section-header h2{
    font-size: 4rem;
    margin: 2rem 0;
}

.section-padding{
    padding: 2rem 2rem 4rem;
}

@media(max-width:768px){
    .flex-items{
        flex-direction: column;
    }
    .flex-columns .column{
        flex: 100%;
    }

    .flex-items > div{
        padding: 10px;
    }

    .flex-grid .column{
        flex: 50%;
        padding: 0.4rem;
    }
}